/*Chose color theme based on color picker from my chosen background image*/
body
{
    background-color: #465059;
    background-image: url("./assets/background_seamless1.png");
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-repeat: repeat;
}

h1
{
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
    color:#489db6
}

/*Google fonts*/
.eagle-lake-regular {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
}

.menu-text-header
{
    font-size: 4vw;
}

.menu-text {
    font-size: 2vw;
    color:lightgreen;
}

#menu-pic{
    width: 90%; height: 90%; object-fit: contain
}

.menu-display
{
    background-color: rgba(108,104,104,0.78)
}

.form-label
{
    color: #34cef5
}
