:root {
  background-color: lightgrey;
  background-image: url("../assets/lsw.jpg");
  background-repeat: repeat-y;
  background-size: 100vw 100vh;
  font-size: 1.3vw;
}

#appMain
{
  position: absolute;
  top:30vh;
  width: 100vw;
  text-align: center;
  color: lightgray;
  height: 10vh;
}

#tableDiv
{
  display: grid;
  grid-template-columns: 33fr 34fr 33fr;
}

button
{
  font-size: 1.3vw;
  background-color: lightcyan;
  border-style: groove;
  border-color: black;
  border-width: .3vw;
}