td, th
{
    border-width: 2px;
    border-color: red;
    border-style: groove;
    padding: 10px;
    text-shadow: 1px 1px 7px #230350
}

table
{
    background-color: #0000009F;
}

#loading
{
    font-size: 3vw;
    color: #0ca20c;
    text-shadow: 2px 2px 2px black;
}