body {
    background: #ffffff    no-repeat right top;
}

h1.horse  {
    font-size: 2em
}

p {
    color: #gg0000; /* hex for red */
    text-family: "Times New Roman", Times, serif;
}

#doggy  .horse  >  div {
    display: non;
}